{% extends "frontend/layout.html" %}
{% load static %}

{% block body %}
  <section data-barba="container" data-barba-namespace="database">
        <div class="caesarfont navbarcolor font5vh flexcontainer aligncenter glow margin10">Database</div>
        <div class="flexcontainer">
                <select id="dbCatSelect" class="form-select form-select-sm margin10" aria-label="Select Category">
                <option value="all" selected>All</option>
                <option value="ca">Carnivorous</option>
                <option value="he">Herbivorous</option>
                <option value="aq">Aquatic</option>
                <option value="fl">Flying</option>
                <option value="ev">Event</option>
                </select>
                <input type="search" placeholder="Search by card name..." class="margin10">
        </div>
        <div id="dbCategory" class="margin 10 flexcontainer fl_spacearound width100 tradesbg" style="position: static; flex-wrap: wrap;"></div>

        <div id="dbCardDetails" style="visibility: hidden">
                <div class="flexcontainer" style="justify-content: space-between;">
                        <div id="closeCardDetails" class="font5vh" style="align-self: flex-end; cursor: pointer; width: fit-content;">&#10060;</div>
                </div>
                <div class="flexcontainer">
                        <div id="cdCardName" class="caesarfont glow font5vh flexcontainer navbarcolor" style="width: fit-content;"></div>
                </div>
                <div class="width100 flexcontainer fl_spacearound">
                        <div style="width: 30%; border: 1px solid red;">
                                <div id="cdCardDisplay" class="flexcontainer"></div>
                                <div class="flexcontainer">
                                        <div><button style='font: size 15px;' class="btn btn-info margin10"><i class='fa fa-volume-up'></i></button></div>
                                        <div><button id="showMeImg" style='font: size 15px;' class="btn btn-info margin10"><i class='fa fa-eye'></i></button></div>
                                </div>

                        </div>
                        <div style="border: 1px solid blue; width: 60%;">
                                <div class="flexcontainer">
                                        <div class="pangolinfont font5vh fitcontent navbarcolor" style="margin-right: 5px;">Category:</div><div id="cdCategory" class="pangolinfont font5vh fitcontent"></div>
                                </div>
                                <div class="flexcontainer">
                                        <div class="pangolinfont font5vh fitcontent navbarcolor" style="margin-right: 5px;">Size:</div><div id="cdSize" class="pangolinfont font5vh fitcontent" style="color: cadetblue;"></div>
                                </div>
                                <div class="flexcontainer">
                                        <div class="pangolinfont font5vh fitcontent navbarcolor" style="margin-right: 5px;">Rarity:</div><div id="cdRarity" class="pangolinfont font5vh fitcontent"></div>
                                </div>
                                <div class="flexcontainer">
                                        <div class="pangolinfont font5vh fitcontent navbarcolor" style="margin-right: 5px;">Ability:</div><div id="cdAbility" class="pangolinfont font5vh fitcontent" style="color: wheat"></div>
                                </div>
                                <div class="flexcontainer">
                                        <div class="pangolinfont font5vh fitcontent navbarcolor" style="margin-right: 5px;">Effect:</div><div id="cdEffect" class="pangolinfont font5vh" style="color: wheat; word-wrap: break-word; max-width: 50%; white-space: pre-line; text-align: justify;"></div>
                                </div>
                        </div>
                </div>

        </div>
        <div id="cdGetImage" style="visibility: hidden;">
                <div id="closeGetImage" class="font5vh" style="align-self: flex-end; cursor: pointer; width: fit-content;">&#10060;</div>
                <div class="flexcontainer"><div id="cdShowImage" class="flexcontainer" style="width: 40%;"><img style="width: 100%;" id="cdShowDino" src="{% static 'frontend/images/cards/Alanqa.PNG' %}" alt=""></div></div>
        </div>
       

  </section>            
{% endblock %}