
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>JurassiCrysis</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link href="{% static 'frontend/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body class="overhidden">
        <div id="boarddiv" class="maindiv">

         <div id = 'root'></div>

            <div class="position quitdiv btn btn-outline-danger btn-sm" onclick="redirectHome()">Quit</div>
            <div id="opp_hand" class='position opphand flexcontainer'>
                
            </div>
        
            <div id='opp_eggs' class='position oppeggs'>

                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>

            </div>

            <div class="oppEnergy position flexcontainer" style="opacity: 0;">
                <div class="textalign height90"><img src="{% static 'frontend/images/icons/energy.png' %}" alt="" class="height90"></div>
                <div class="textalign height90"><img src="{% static 'frontend/images/icons/energy.png' %}" alt="" class="height90"></div>
            </div>

            <div class="flip-turn" id="turnButton" style="cursor: pointer; display: none;">
                <div class="flip-turn-inner">
                  <div class="flip-turn-front font3w caesarfont flexcontainer textalign aligncenter pulse">
                    End Turn
                  </div>
                  <div class="flip-turn-back font3w caesarfont flexcontainer textalign aligncenter">
                    Wait Turn
                  </div>
                </div>
            </div>

            <div class="ingameBoard forestbg">
                    <div id="opp_event" class="position singlecardbox oppeventbox persp100">
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                    </div>

                    <div id ='opp_board' class="position oppboard perspTop">
                    </div>

                    <div id="opp_deck" class="position oppdeck persp_100">
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>

                    </div>

                    <div id='middle line'
                            style="border-top: 1px solid green; position: absolute; top: 50%; width: 95%; opacity: 0.5;">
                    </div>

                    <div id="ply_event" class="position plyevent persp100">
                        <div  class="border cardplayed transform10 blackbg"></div>
                    </div>

                    <div id ='ply_board' class="position plyboard perspTop">
                       
                    </div>

                    <div id="ply_deck" class="position plydeck persp_100">
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                        <div class="border position cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card</div>
                    </div>

            </div>

            <div id='ply_eggs' class="position plyeggs textalign flexcontainer fl_column">
                <img src="{% static 'frontend/images/eggs/ply_egg.png' %}" alt="" class="height80">
            </div>
            
            <div class="plyeggsCount position textalign"><h1 class="navbarcolor font5w memoirsfont">10</h1></div>

            <div id='ply_hand' class="position plyhand flexcontainer" >
                <!-- <div class="cardWrapper" draggable="true">
                    
                </div>-->
                
            </div>

            <div class="position startdiv">
                <div class="buttondifficulty pulse margin10" id="startbutton" data-difficulty="hard" data-firstturn="opp">Start</div>
            </div>

            <div class="plyEnergy position flexcontainer" style="opacity: 0;">
                <div class="textalign height90"><img src="{% static 'frontend/images/icons/energy.png' %}" alt="" class="height90"></div>
                <div class="textalign height90"><img src="{% static 'frontend/images/icons/energy.png' %}" alt="" class="height90"></div>

            </div>

            <div id="ply_turn" class="border glassdiv position flexcontainer textalign plyTurnPos padding10" style="z-index: 11; opacity: 0; display: none;">

                <h1 class="caesarfont navbarcolor font10vh flexcontainer aligncenter glow">Your Turn</h1>
            </div>

            <div id="opp_turn" class="border glassdiv position flexcontainer textalign oppturnPos padding10" style="z-index: 13; opacity: 0; display: none;">

                <h1 class="caesarfont navbarcolor font10vh flexcontainer aligncenter glow">Opponent's Turn</h1>
            </div>
                
        </div>

        <div class="background" style="z-index: -10;">
            <span><img src="{% static 'frontend/images/animated/ptero1.gif' %}" alt="ptero1" style="transform: rotate(90deg);"></span><!--abajo der-->
            <span><img src="{% static 'frontend/images/animated/ptero2.gif' %}" alt="ptero2" style="transform: rotate(270deg);"></span><!--ab izq-->
            <span><img src="{% static 'frontend/images/animated/ptero3.gif' %}" alt="ptero3" style="transform: rotate(180deg); transform: scaleX(-1);"></span><!--arriba-->
            <span>444444</span>
            
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        <script type="text/javascript" src="{% static 'frontend/play/main.js' %}"></script>
    </body>
</html>