
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>JurassiCrysis</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link href="{% static 'frontend/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        <div id="boarddiv" class="maindiv">

         <!-- <div id = 'root'></div>-->

            <div class="position quitdiv btn btn-outline-danger btn-sm" onclick="redirectHome()">Quit</div>
            <div id="opp_hand" class='border position opphand'></div>
            <div id='opp_eggs'  class='border position oppeggs'>

                <div class="border textalign">1</div>
                <div class="border textalign">2</div>
                <div class="border textalign">3</div>
                <div class="border textalign">4</div>
                <div class="border textalign">5</div>
                <div class="border textalign">6</div>
                <div class="border textalign">7</div>
                <div class="border textalign">8</div>
                <div class="border textalign">9</div>
                <div class="border textalign">9</div>

            </div>
            <div class="ingameBoard forestbg">
                    <div id="opp_event" class="position border singlecardbox oppeventbox persp100">
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                    </div>

                    <div id ='opp_board' class="border position oppboard perspTop">
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                    </div>

                    <div id="opp_deck" class="border position oppdeck persp_100">
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                    </div>

                    <div id='middle line'
                            style="border-top: 1px solid white; position: absolute; top: 50%; width: 100%;">
                    </div>

                    <div id="ply_event" class="border position plyevent persp100">
                        <div  class="border cardplayed transform10"></div>
                    </div>

                    <div id ='ply_board' class="position border plyboard perspTop">
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                    </div>

                    <div id="ply_deck" class="border position plydeck persp_100">
                        <div  class="border cardplayed transform10"></div>
                    </div>

            </div>

            <div id='ply_eggs' class="border position plyeggs">
            </div>

            <div id='ply_hand' class="border position plyhand" >

            </div>
                
        </div>

        <div class="background" style="z-index: -10;">
            <span><img src="{% static 'frontend/images/animated/ptero1.gif' %}" alt="ptero1" style="transform: rotate(90deg);"></span><!--abajo der-->
            <span><img src="{% static 'frontend/images/animated/ptero2.gif' %}" alt="ptero2" style="transform: rotate(270deg);"></span><!--ab izq-->
            <span><img src="{% static 'frontend/images/animated/ptero3.gif' %}" alt="ptero3" style="transform: rotate(180deg); transform: scaleX(-1);"></span><!--arriba-->
            <span>444444</span>
            
        </div>

        <script src="{% static 'frontend/play/main.js' %}"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        
    </body>
</html>