{% extends "frontend/layout.html" %}

{% block body %}
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1>
        <a href="#topDocument">Back to Top</a> 
        
{% endblock %}