{% extends "frontend/layout.html" %}

{% block body %}
        <h1 style="color: antiquewhite;" class="caesarfont">Welcome to Jurassicrysis</h1> 
        <h1 style="color: antiquewhite; font-family: 'Pangolin', cursive;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite; font-family: 'Megrim', cursive;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite; font-family:  'Mouse Memoirs', sans-serif;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1> 
        <h1 style="color: antiquewhite;">Jurassicrysis Home</h1>
        <a href="#topDocument">Back to Top</a> 
        
{% endblock %}