{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'frontend/styles.css' %}">
        
        <title>JurassiCrysis</title>
    </head>
    <body class="bgrImage" data-barba="wrapper">

      <div class="bgrBlack" style="z-index: 99;">

        <div class="bannerdiv">

          {% if user.is_authenticated %}
          
          <div>
            <a href="#">
              <img src="https://picsum.photos/200" alt="" class="profileimg">
              {{user.username}}
            </a>
          </div>
          

          <div class="caesarfont" style="font-size: x-large;">Jurassicrysis</div>

          <div class="marginright">&#128178; {{user.dinocoins}}</div>
          {% else %}
          <div>Not logged in.</div>
          <div class="caesarfont" style="font-size: x-large;">Jurassicrysis</div>
          {% endif %}

        </div>

        <ul>
          <a href="{% url 'play' %}" onclick="closedropdown()" class="w3-hide-small w3-mobile stopBarba" ><li>Play</li></a>
          <a href="{% url 'index' %}" onclick="closedropdown()" class="w3-hide-small w3-mobile"><li>Home</li></a>
          <a href="{% url 'shop' %}" onclick="closedropdown()" class="w3-hide-small w3-mobile"><li>Shop</li></a>
          
          <div class="w3-dropdown-click w3-black w3-mobile">
            <a href="#" class="w3-hide-small" onclick="cardFunction()"><li>Collection <i class="fa fa-caret-down"></i></li></a>
            <div id="cardDrop" class="w3-dropdown-content w3-bar-block w3-card w3-black">
          
              <a href="{% url 'mycollection' %}" onclick="closedropdown()" class="w3-bar-item w3-button w3-mobile ">My Collection</a>
              <a href="{% url 'deckmanager' %}" onclick="closedropdown()" class="w3-bar-item w3-button w3-mobile ">Deck Manager</a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'database' %}" onclick="closedropdown()" class="w3-bar-item w3-button w3-mobile ">Database</a>
            </div>
          </div>

          <div class="w3-dropdown-click w3-black w3-mobile">
            <a href="#" class="w3-hide-small" onclick="socialFunction()"><li>Social <i class="fa fa-caret-down"></i></li></a>
            <div id="socialDrop" class="w3-dropdown-content w3-bar-block w3-card w3-black">
          
              <a href="{% url 'trader' %}" onclick="closedropdown()" class="w3-bar-item w3-button w3-mobile ">Trade Cards</a>
              <a href="{% url 'leaderboards' %}" onclick="closedropdown()" class="w3-bar-item w3-button w3-mobile">Leaderboards</a>
              <div class="dropdown-divider"></div>
              <a href="https://twitter.com/jurassicrysiso1" class="w3-bar-item w3-button w3-mobile">Twitter</a>
              <a href="https://www.instagram.com/jurassicrysisofficial/" class="w3-bar-item w3-button w3-mobile">Instagram</a>
            </div>
          </div>

          
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" onclick="closedropdown()" class="w3-hide-small w3-mobile stopBarba"><li>Logout</li></a>
          {% else %}
            <a href="{% url 'login' %}" onclick="closedropdown()" class="w3-hide-small w3-mobile"><li>Login</li></a>
          {% endif %}

          <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>

        </ul>

        <div id="responsiveButton" class="w3-bar-block w3-black w3-hide w3-hide-large center">
          <a href="{% url 'play' %}"  ><li>Play</li></a>
          <a href="{% url 'index' %}" ><li>Home</li></a>
          <a href="{% url 'shop' %}" ><li>Shop</li></a>
          <div class="w3-dropdown-click w3-black">
            <a href="#" onclick="cardFunction()"><li>Collection <i class="fa fa-caret-down"></i></li></a>
            <div id="cardDrop" class="w3-dropdown-content w3-bar-block w3-card w3-black">
          
              <a href="{% url 'mycollection' %}" class="w3-bar-item w3-button ">My Collection</a>
              <a href="{% url 'deckmanager' %}" class="w3-bar-item w3-button ">Deck Manager</a>
              <a href="#" class="w3-bar-item w3-button ">Link 3</a>
            </div>
          </div>

          <a href="#"><li>Social</li></a>
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" ><li>Logout</li></a>
          {% else %}
            <a href="{% url 'login' %}" ><li>Login</li></a>
          {% endif %}

        </div>

      </div> <!--div bgrblack-->

      <script src="{% static 'frontend/dropdownmenu/dropdown.js' %}"></script>

        
      <div class="transition1">
        <div id="teeth1"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="transition2">
        <div class="tr2div"></div>
        <div class="tr2div"></div>
        <div class="tr2div"></div>
        <div class="tr2div"></div>
      </div>

      <div class="w3-container" data-barba="container" data-barba-namespace="home">
        {% block body %}
        {% endblock %}
      </div>

      <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
      <script src="{% static 'frontend/transitions/transition1.js' %}"></script>
    </body>

</html>