
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>JurassiCrysis</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link href="{% static 'frontend/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        <div id='main div' class="maindiv">

         <!-- <div id = 'root'></div>-->

        <div class="position quitdiv btn btn-outline-danger btn-sm" onclick="redirectHome()">Quit</div>
            <div id="opp_hand" class='border position opphand'>

            </div>
            <div id='opp_eggs'  class='border position oppeggs'>

                <div class="border textalign">1</div>
                <div class="border textalign">2</div>
                <div class="border textalign">3</div>
                <div class="border textalign">4</div>
                <div class="border textalign">5</div>
                <div class="border textalign">6</div>
                <div class="border textalign">7</div>
                <div class="border textalign">8</div>
                <div class="border textalign">9</div>
                <div class="border textalign">9</div>

            </div>

            <div id="opp_event" class="position border singlecardbox oppeventbox">
                <div  class="border cardplayed"></div>
            </div>

            <div id ='opp_board' class="border position oppboard">
                <div  class="border cardplayed"></div>
                <div  class="border cardplayed"></div>
                <div  class="border cardplayed"></div>
                <div  class="border cardplayed"></div>
                <div  class="border cardplayed"></div>
                <div  class="border cardplayed"></div>
                <div  class="border cardplayed"></div>

            </div>

            <div id="opp_deck" class="border position oppdeck">
                <div class="border cardplayed"></div>
            </div>

            <div id='middle line'
                    style="border-top: 1px solid white; position: absolute; top: 50%; width: 100%;">
            </div>

            <div id="ply_event" class="border position plyevent">
                <div  class="border cardplayed"></div>
            </div>

            <div id ='ply_board' class="position border plyboard">
                <div  class="border cardplayed"></div>
                <div  class="border cardplayed"></div>
                <div  class="border cardplayed"></div>
            </div>

            <div id="ply_deck" class="border position plydeck">
                <div  class="border cardplayed"></div>
            </div>

            <div id='ply_eggs' class="border position plyeggs">
            </div>

            <div id='ply_hand' class="border position plyhand" >

            </div>
                
        </div>

        <div class="plytransition">
            <div><div class="caesarfont flexcontainer" style="font-size: 30vh; color: burlywood;">Jurassicrysis</div></div>
        </div>

        <script src="{% static 'frontend/play/main.js' %}"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        <script src="{% static 'frontend/transitions/playtransition.js' %}"></script>
        
    </body>
</html>