
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>JurassiCrysis</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link href="{% static 'frontend/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body class="overhidden">
        <div id="boarddiv" class="maindiv">

            <div id = 'root' class="position opphand"></div>

            <div class="position quitdiv btn btn-outline-danger btn-sm" onclick="redirectHome()">Quit</div>
            <div id="opp_hand" class='border position opphand'></div>
            <div id='opp_eggs'  class='position oppeggs'>

                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>
                <div class="textalign blackTransparent"><img src="{% static 'frontend/images/eggs/opp_egg.png' %}" alt="" class="height90"></div>

            </div>
            <div class="ingameBoard forestbg" id="gameboard">
                    <div id="opp_event" class="position border singlecardbox oppeventbox persp100">
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                    </div>

                    <div id ='opp_board' class="border position oppboard perspTop">
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                    </div>

                    <div id="opp_deck" class="border position oppdeck persp_100">
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                    </div>

                    <div id='middle line'
                            style="border-top: 1px solid white; position: absolute; top: 50%; width: 100%;">
                    </div>

                    <div id="ply_event" class="border position plyevent persp100">
                        <div  class="border cardplayed transform10"></div>
                    </div>

                    <div id ='ply_board' class="position border plyboard perspTop">
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                        <div  class="border cardplayed transform10 navbarcolor" style="background-color: black; font-size: 1vw;">card card card card card card card card card</div>
                    </div>

                    <div id="ply_deck" class="border position plydeck persp_100">
                        <div  class="border cardplayed transform10"></div>
                    </div>

            </div>

            <div id='ply_eggs' class="position plyeggs textalign flexcontainer fl_column">
                <img src="{% static 'frontend/images/eggs/ply_egg.png' %}" alt="" class="height80">
            </div>
            
            <div class="plyeggsCount position textalign"><h1 class="navbarcolor font5w memoirsfont">10</h1></div>

            <div id='ply_hand' class="border position plyhand" >

            </div>

            <div class="position plyhand" id="startbutton" data-difficulty="" data-firstturn="">
                <button>Click me</button>
            </div>
                   
        </div>

        <div class="plytransition ">
            <div class="jcbg"><div class="caesarfont flexcontainer" style="font-size: 10vh; color: burlywood;">Jurassicrysis</div></div>
        </div>

        <div class="difficultypage flexcontainer aligncenter overhidden" id="difficultyid">

            <div id="heightCheck" class="flexcontainer aligncenter position glassdiv" style="display: none; width: 70vw;">
                <div class="bgrBlack aligncenter width10vw marginauto" ><img src="{% static 'frontend/images/icons/flip.gif' %}" alt="" class=" width10vw"></div>
                <div class="navbarcolor flexcontainer aligncenter textalign"><h2 class="pangolinfont">For an optimal experience, please flip your device horizontally.</h2> </div>
                <div class="flexcontainer aligncenter"><button id="heightButton" onclick="acceptHeight()" type="button" class="btn btn-success btn-lg" disabled>Continue</button></div>
            </div>

            <div id="difficultybox" class="flexcontainer aligncenter position padding10 glassdiv" style="display: none;">
                <div class="caesarfont navbarcolor font10vh glow textalign">Choose difficulty</div>
                <div class="flexcontainer fl_spacearound">
                    <div class="buttondifficulty pulse margin10" onclick="difficultyOut('easy')">Easy</div>
                    <div class="buttondifficulty pulse margin10" onclick="difficultyOut('medium')">Medium</div>
                    <div class="buttondifficulty pulse margin10" onclick="difficultyOut('hard')">Hard</div>
                </div>
                <div class="textalign aligncenter pangolinfont navbarcolor margintop">The higher the difficulty, the higher the rewards!</div>
            </div>

            
            <div id="rps" class="flexcontainer aligncenter position textalign glassdiv padding10" style="display: none;">
                <div id="rpstitle" class="caesarfont navbarcolor font10vh flexcontainer aligncenter glow">Who goes first?</div>
                <div class="textalign aligncenter font5vh navbarcolor pangolinfont">Opponent</div>
                <div class="flexcontainer aligncenter">
                    <div id ="rpsImgDiv" class="rpsCardOpp margin10 flexcontainer aligncenter opacityAnim"><img id="rpsOppImg" class="rpsImgOpp" src="{% static 'frontend/images/icons/qmark.png' %}" alt=""></div>
                </div>
                
                <div id="separator" style="border-top: 1px solid antiquewhite; width: 100%;"></div>
                <div class="flexcontainer aligncenter">
                    <div class="rpsCard margin10 flexcontainer aligncenter" data-rpschoice="rock"><img class="rpsImg" src="{% static 'frontend/images/icons/rock.png' %}" alt=""></div>
                    <div class="rpsCard margin10 flexcontainer aligncenter" data-rpschoice="paper"><img class="rpsImg" src="{% static 'frontend/images/icons/paper.png' %}" alt=""></div>
                    <div class="rpsCard margin10 flexcontainer aligncenter" data-rpschoice="scissors"><img class="rpsImg" src="{% static 'frontend/images/icons/scissors.png' %}" alt=""></div>
                </div>
                <div id="chooseOneDiv" class="textalign aligncenter font5vh navbarcolor pangolinfont">Choose one!</div>
            </div>
            
        </div>

        <div class="background" style="z-index: -10;">
            <span><img src="{% static 'frontend/images/animated/ptero1.gif' %}" alt="ptero1" style="transform: rotate(90deg); max-height: 10vh;"></span><!--abajo der-->
            <span><img src="{% static 'frontend/images/animated/ptero2.gif' %}" alt="ptero2" style="transform: rotate(270deg); max-height: 10vh;"></span><!--ab izq-->
            <span><img src="{% static 'frontend/images/animated/ptero3.gif' %}" alt="ptero3" style="transform: rotate(180deg); transform: scaleX(-1); max-height: 10vh;"></span><!--arriba-->
            <span>444444</span>
            
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
        <script type="text/javascript" src="{% static 'frontend/transitions/playtransition.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/play/main.js' %}"></script>
    </body>
</html>