{% extends "frontend/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div class="center">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group col-md-3 marginauto">
            <input class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <br>
        <div class="form-group col-md-3 marginauto">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <br>
        <div class="form-group col-md-3 marginauto">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <br>
        <div class="form-group col-md-3 marginauto">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <br>
        <div class="center"><input class="btn btn-primary" type="submit" value="Register"></div>
    </form>

    <div class="center">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div> 

{% endblock %}