{% extends "frontend/layout.html" %}
{% load static %}

{% block body %}

<section data-barba="container" data-barba-namespace="shop">
    <div class="caesarfont navbarcolor font10vh flexcontainer aligncenter glow margin10">Shop</div>

    <div id="boosterDisplay" class="flexallcenter">
        <div class="flexallcenter fl_column boosterdis"><img src="{% static 'frontend/images/shop/aqBooster.png' %}" id="aq" class="boosterpack" draggable="false"> <span class="navbarcolor caesarfont font5vh">&#128178; 5000</span></div>
        <div class="flexallcenter fl_column boosterdis"><img src="{% static 'frontend/images/shop/caBooster.png' %}" id="ca" class="boosterpack" draggable="false"><span class="navbarcolor caesarfont font5vh">&#128178; 5000</span></div>
        <div class="flexallcenter fl_column boosterdis"><img src="{% static 'frontend/images/shop/heBooster.png' %}" id="he" class="boosterpack" draggable="false"><span class="navbarcolor caesarfont font5vh">&#128178; 5000</span></div>
        <div class="flexallcenter fl_column boosterdis"><img src="{% static 'frontend/images/shop/flBooster.png' %}" id="fl" class="boosterpack" draggable="false"><span class="navbarcolor caesarfont font5vh">&#128178; 5000</span></div>
        <div class="flexallcenter fl_column boosterdis"><img src="{% static 'frontend/images/shop/evBooster.png' %}"  id="ev"class="boosterpack" draggable="false"><span class="navbarcolor caesarfont font5vh">&#128178; 5000</span></div>
    </div>

    <div id="buyAPack" class="position buyPackdiv glassdiv padding10 flexallcenter fl_column" style="z-index: 5; display: none;">
        <div id="cancelBuy" class="font5vh" style="align-self: flex-end; cursor: pointer;">&#10060;</div>
        <div class="flexallcenter"><img draggable="false" id="boosterimgDemo" class="boosterDemo" src="" /></div>
        <div class="flexallcenter">
            <div id="buyButton" class="margin10 caesarfont flexallcenter padding10 font10vh">Buy!</div>
        </div>
    </div>

    <div id="notMoney" class="position buyPackdiv glassdiv padding10 flexallcenter fl_column" style="z-index: 7; display: none;">
        <div class="font5vh caesarfont textalign navbarcolor">Not enough Dinocoins!</div>
        <div class="flexallcenter"><div id="closeNotMoney" class="margin10 caesarfont flexallcenter padding10 font5vh">Close</div></div>
    </div>
    
    <div id="showNewCards" class="position buyPackdiv glassdiv padding10 flexallcenter"></div>


</section>

{% endblock %}