{% extends "frontend/layout.html" %}
{% load static %}

{% block body %}
<section data-barba="container" data-barba-namespace="trader">
    <div class="flexcontainer"> <div id="newTrade" class="flexcontainer font5vh caesarfont navbarcolor aligncenter glow margin10 padding10" style="width: fit-content"> New Trade</div> </div>
    <div class="caesarfont navbarcolor font10vh flexcontainer aligncenter glow margin10">Trades</div>
    <div class="caesarfont navbarcolor font5vh flexcontainer aligncenter margin10 tradesbg padding10 fl_column" style="position: relative; height: auto;">
        Incoming Trade Requests
        <div id="incoming_requests" class="blackTransparent table-responsive"></div>
        Outgoing Trade Requests
        <div id="outgoing_requests" class="blackTransparent table-responsive"></div>
    </div> 

    <div id="tradeCategory" class="flexcontainer margin10 tradesbg padding10 navbarcolor fl_column" style="visibility: hidden; height: fit-content;">
        <div id="cancelTrade" class="font5vh" style="align-self: flex-end; cursor: pointer;">&#10060;</div>
        <div class="font5vh navbarcolor caesarfont margin10 textalign glow">Which card type are you looking for?</div>
        <div class="flexChooseCategory">
            <div class="largehover">
                <img id="categoryca" src="{% static 'frontend/images/cards/Tyrannosaurus.PNG' %}" alt="" class="categoryPic">
                <div class="pangolinfont font5vh flexcontainer" style="color: red;">Carnivorous</div>
            </div>
            <div class="largehover">
                <img id="categoryhe" src="{% static 'frontend/images/cards/Brachiosaurus.PNG' %}" alt="" class="categoryPic">
                <div class="pangolinfont font5vh flexcontainer" style="color: green;">Herbivorous</div>
            </div>
            <div class="largehover">
                <img id="categoryaq" src="{% static 'frontend/images/cards/Plesiosaurus.PNG' %}" alt="" class="categoryPic">
                <div class="pangolinfont font5vh flexcontainer" style="color: blue">Aquatic</div>
            </div>
            <div  class="largehover">
                <img id="categoryfl" src="{% static 'frontend/images/cards/Zhejiangopterus.PNG' %}" alt="" class="categoryPic">
                <div class="pangolinfont font5vh flexcontainer" style="color: skyblue">Flying</div>
            </div>
            <div class="largehover">
                <img id="categoryev" src="{% static 'frontend/images/cards/Large Litter.PNG' %}" alt="" class="categoryPic">
                <div class="pangolinfont font5vh flexcontainer" style="color: purple">Event</div>
            </div>
        </div>
      
    </div>

    <div id="showCategory" class="flexcontainer margin10 tradesbg padding10 navbarcolor fl_column position">
        <div id="closeCategory" class="font5vh" style="align-self: flex-end; cursor: pointer;">&#10060;</div>
        <div class="font5vh navbarcolor caesarfont margin10 textalign">Select a card</div>
        <div id="categoryContainer"></div>
    </div>

    <div id="showCardAvailable" class="margin10 tradesbg padding10 navbarcolor position" style="z-index: 12;">
        <div class="font5vh" style="cursor: pointer; display: flex; justify-content: flex-end;"><div style="width: fit-content;" id="closeCardAvailable">&#10060;</div></div>
        <div id="cardAvTitle" class="font5vh navbarcolor caesarfont textalign">Card availability</div>
        <div id="displayCardAvailable" class="flexcontainer"></div>
        <div id="yourAvCards" class="font5vh navbarcolor caesarfont textalign" style="display: none;">Your available cards</div>
        <div id="cardUserAvailables" class="blackTransparent pangolinfont navbarcolor font5vh flexcontainer table-responsive"></div>
    </div>

    <div id="successfulNewTrade" class="tradesbg ">
        <div id="newTradeMsg" class="font5vh navbarcolor caesarfont textalign margin10"></div>
        <div class="flexcontainer"> <div id="closeSuccessful" class="flexcontainer font5vh caesarfont navbarcolor aligncenter glow margin10 padding10 pulse" style="width: fit-content">Close</div> </div>
    </div>

    <div id="tradeAccepted" class="tradesbg padding10">
        <div class="caesarfont navbarcolor font5vh flexcontainer aligncenter glow margin10">Trade successful!!</div>
        <div class="flexcontainer">
            <div style="width: 35%;">
                <div id="myNewCard" class="flexcontainer"></div>
                <div class="font5vh navbarcolor caesarfont textalign">Your new card!</div>
            </div>
            <div style="width: 30%">
                <img src="{% static 'frontend/images/icons/tradeArrows.png' %}" style="width: 100%;" class="opacityAnimation">
            </div>

            <div style="width: 35%;">
                <div id="mySentCard" class="flexcontainer"></div>
                <div class="font5vh navbarcolor caesarfont textalign">Bye!</div>
            </div>

        </div>
        <div class="flexcontainer"> <div id="closeTradeAccepted" class="flexcontainer font5vh caesarfont navbarcolor aligncenter margin10 padding10 pulse" style="width: fit-content">Close</div></div>


    </div>

</section> 
{% endblock %}