@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

.chewyfont {
    font-family: 'Chewy', cursive;
}

.pangolinfont {
    font-family: 'Pangolin', cursive;
}

.megrimfont {
    font-family: 'Megrim', cursive;
}

.frecklefont {
    font-family: 'Freckle Face', cursive;
}

.memoirsfont {
    font-family: 'Mouse Memoirs', sans-serif;
}

.nosiferfont {
    font-family: 'Nosifer', cursive;
}

.caesarfont {
    font-family: 'Caesar Dressing', cursive;
}

$navbar-color: #ebebeb;

.navbarcolor {
    color: $navbar-color;
}

.bannerdiv {
    display: flex; 
    flex-wrap: nowrap; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

a:visited, a:link, a:hover, a:active {
    color: honeydew;
    text-decoration: none;

}

/*---------------- */

.transition2 {
    position: absolute;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }
  
  .transition2 div {
    width: 20%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    background: black;
  }
      
.blackTransparent{
    background-color: rgba(0, 0, 0, .5);   
}

#suggestion:hover {
    color: blue;
}

.marginauto {
    margin: auto;
}

.marginright {
    margin-right: 10px;
}

.center {
    text-align: center;
}

.loginwidth {
    max-width: 600px; 
}

.profileimg {
    margin: 5px;
    border-radius: 50%;
    border: 2px solid wheat;
    min-height: 40px;
    max-height: 50px;
}

.bgrBlack {
    background-color: black;
    color: $navbar-color;
}

/* Navbar buttons obtained from https://codepen.io */
* {
	list-style-type: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
	display: flex;
	width: 100%;
	height: 10vh;
    min-height: 50px;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}
li {
	padding: 1rem 2rem 1.15rem;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    cursor: pointer;
    color: $navbar-color;
	min-width: 30px;
	margin: auto;
}

li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}


/*------------------------- */


.bgrImage{
    background-image: url('images/wallpaper/wallpaper1.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loginIcon {
    max-height: 20px;
}

h6 {
    color: gold;
}

.maindiv {
    border: 3px solid red;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.border {
    border: 1px solid white;
}

.position {
    position: absolute;
}

.opphand {
    top: 0%;
    left: 35%;
    width: 30vw;
    height: 5vh;
}

.oppeggs {
    height: 18vh; width: 30vw;
    top: 7%;
    left: 35%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.textalign {
    text-align: center;
}

.singlecardbox {
    height: 20vh;
    width: 8vw; 
}

.oppeventbox {
    top: 28%;
    left: 5%;
}

.card {
    height: 18vh; 
    width: 6vw; 
    margin: 5px;
}

.flexcontainer{
    display: flex;
    justify-content: center; 
}

.oppboard {
    @extend .flexcontainer;
    height: 20vh; width: 70vw;
    top: 28%; left: 15%;
    
}

.oppdeck {
    @extend .singlecardbox;
    top: 28%; right: 5%;
}

.plyevent {
    @extend .singlecardbox;
    top: 52%; left: 5%;
}

.plyboard {
    @extend .flexcontainer;
    height: 20vh; width: 70vw;
    top: 52%;
    left: 15%;  
}

.plydeck {
    @extend .singlecardbox;
    top: 52%; right: 5%;
}

.plyeggs {
    height: 23vh;
    width: 15vw;
    bottom: 2%;
    left: 7%;
}

.plyhand {
    height: 23vh; width: 50vw;
    bottom: 2%;
    left:25%
}