@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

.chewyfont {
    font-family: 'Chewy', cursive;
}

.pangolinfont {
    font-family: 'Pangolin', cursive;
}

.megrimfont {
    font-family: 'Megrim', cursive;
}

.frecklefont {
    font-family: 'Freckle Face', cursive;
}

.memoirsfont {
    font-family: 'Mouse Memoirs', sans-serif;
}

.nosiferfont {
    font-family: 'Nosifer', cursive;
}

.caesarfont {
    font-family: 'Caesar Dressing', cursive;
}

/*--------Layout Transition-------- */

.transition1 {
    position: absolute;
    z-index: 90;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    top:100;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }

.transition1 #teeth1 {
    position: relative;
    top: -200%;
    opacity: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120vh 12vw 0 0;
    border-color: black transparent transparent transparent;
  }

.transition1 div {
    
    position: relative;
    top: -200%;
    opacity: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120vh 12vw 0 12vw;
    border-color: black transparent transparent transparent;

}

.transition2 {
    position: absolute;
    z-index: 90;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    top:100;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.transition2 div {

    position: relative;
    bottom: -50%;
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12vw 120vh 12vw;
    border-color: transparent transparent black transparent;


}
/*-------------------*/

/* -------Play page transition*---------*/

.plytransition{
    position: absolute;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.plytransition div {
    width: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* -----------------------------*/

/* Layout css*/

$navbar-color: #ebebeb;

.navbarcolor {
    color: $navbar-color;
}

.bannerdiv {
    display: flex; 
    flex-wrap: nowrap; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

a:visited, a:link, a:hover, a:active {
    color: honeydew;
    text-decoration: none;

}
  
.blackTransparent{
    background-color: rgba(0, 0, 0, .5);   
}

#suggestion:hover {
    color: blue;
}



.loginwidth {
    max-width: 600px; 
}

.profileimg {
    margin: 5px;
    border-radius: 50%;
    border: 2px solid wheat;
    min-height: 40px;
    max-height: 50px;
}

.bgrBlack {
    background-color: black;
    color: $navbar-color;
    position: relative;
}

* {
	list-style-type: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
	display: flex;
	width: 100%;
	height: 10vh;
    min-height: 50px;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}
li {
	padding: 1rem 2rem 1.15rem;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    cursor: pointer;
    color: $navbar-color;
	min-width: 30px;
	margin: auto;
}

li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.bgrImage{
    background-image: url('images/wallpaper/wallpaper2.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.jctext {
    background: blue url('/static/frontend/images/icons/jctextbg.png'); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.loginIcon {
    max-height: 20px;
}

h6 {
    color: gold;
}

/* -----------Play page------------- */

.difficultypage {

    position: absolute;
    z-index: 90;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    background: url('images/wallpaper/wallpaper3.jpg') repeat 0 0 transparent;
    
}

.font10vh {
    font-size: 10vh;
}

.font5vh {
    font-size: 5vh;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px red, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px black, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.glow {
    animation: glow 1.5s ease-in-out infinite alternate;
  }

 /* ------cool button------- */
 @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    33% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  .buttondifficulty {
    display: inline-flex;
    align-items: center;
    background: Crimson;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 45px;
    padding: 0 30px;
    color: #fff;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .3s, transform .3s, box-shadow .3s;
     will-change: transform;
    
    &:hover {
      background: darken(#C06C84,10%);
      box-shadow: 0 4px 17px rgba(0,0,0,0.2);
      transform: translate3d(0, -2px, 0);
      cursor: pointer;
    }
    &:active {
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
      transform: translate3d(0, 1px, 0);
    }
  }
  
  .pulse {
    position: relative;
    
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,.4);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      opacity: 0;
      margin: auto;
    }
    &:before {
      animation: pulse 1.5s infinite linear;
    }
    &:after {
      animation: pulse 2s .4s infinite linear;
    }
    &:hover:before, &:hover:after {
      display: none;
    }
  }
  
 
 /*-----Play page----------- */

.maindiv {
    border: 3px solid red;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.border {
    border: 1px solid white;
}

.position {
    position: absolute;
}

.quitdiv{
    top: 1%;
    left: 1%;
}

.opphand {
    top: 0%;
    left: 35%;
    width: 30vw;
    height: 5vh;
}

.oppeggs {
    height: 18vh; width: 30vw;
    top: 7%;
    left: 35%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 50% 50% ;
}

/* ----opp eggs animation------*/

@keyframes eggsmovement {
    1% {
        transform: rotate(-15deg);
    }

    3% {
        transform: rotate(10deg);
    }

    5% {
        transform: rotate(-10deg);
    }

    7% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#opp_eggs div:nth-child(1) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(2) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(3) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(4) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(5) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(6) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}


#opp_eggs div:nth-child(7) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 3.2s;
    animation-iteration-count: infinite;
}


#opp_eggs div:nth-child(8) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 1.4s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(9) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(10) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

/*------------------- */
/* Ply eggs animation*/

@keyframes plyeggsmovement {
    1% {
        transform: skewX(-5deg);
    }

    3% {
        transform: skewX(5deg); 
    }

    5% {
        transform: skewX(-7deg);  
    }

    7% {
        transform: skewX(0deg);  
    }

    100% {
        transform: rotate(0deg); 
    }
}

#ply_eggs img {
    animation: plyeggsmovement;
    animation-duration: 15s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
/*------------- */

.overhidden {
    overflow: hidden;
}

.rpsCard {
    background: linear-gradient(45deg, crimson, DarkSlateGray);
    box-shadow: 2px 3px antiquewhite;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    height: 20vh;
    transition: 100ms;
}

.rpsCard:hover {
    transform: scale(1.2);
}

.rpsCardOpp {
    height: 20vh;
    width: 20vh;
    padding: 5px;
    border-radius: 20px;
    background: antiquewhite;
}

.rpsImg {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(-90deg);

}

.rpsImgOpp {
    max-width: 100%;
    max-height: 100%;
    
}

.singlecardbox {
    height: 20vh;
    width: 8vw; 
}

.cardplayed {
    height: 18vh; 
    width: 6vw; 
    margin: 5px;
    border-radius: 5px;
}

.flexcontainer{
    display: flex;
    justify-content: center; 
}

.fl_spacearound {
    justify-content: space-around;
}

.fl_column {
    flex-direction: column;
}

.ingameBoard {
    position: absolute;
    height: 45vh;
    width: 93vw;
    transform: perspective(100px) rotateX(1deg);
    top: 27%;
    left: 3%;
}

.wood1bg {
    background-color: saddlebrown;
    background-image: url("images/wallpaper/wood-pattern.png");
    border-bottom: 5px solid burlywood;

}

.forestbg {
    background-color: saddlebrown;
    background-image: url("images/wallpaper/forestbg.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 8px solid green;
    
} /* https://www.freevector.com/jungle-forest-background-vector--21826*/

.jcbg {
    background-color: saddlebrown;
    background-image: url("images/wallpaper/wallpaper1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.perspTop {
    -webkit-perspective: 200px;    
    -moz-perspective: 200px;
    -ms-perspective: 200px;
    -o-perspective: 200px;
    perspective: 200px;

    -webkit-perspective-origin: top;
    -moz-perspective-origin: top;
    -ms-perspective-origin: top;
    -o-perspective-origin: top;
    perspective-origin: top;  
}

.persp100 {
    perspective: 200px;
    perspective-origin: 200%;  
}

.persp_100 {
    perspective: 200px;
    perspective-origin: -200%; 
}

.transform10 {
    transform-style: preserve-3d;
    transform: rotateX(3deg);
}

.oppeventbox {
    top: 2%;
    left: 1%;
}

.oppboard {
    @extend .flexcontainer;
    height: 20vh; width: 70vw;
    top: 2%; left: 15%;
    
}

.oppdeck {
    @extend .singlecardbox;
    top: 2%; right: 1%;
}

.plyevent {
    @extend .singlecardbox;
    top: 52%; left: 1%;
}

.plyboard {
    @extend .flexcontainer;
    height: 20vh; width: 70vw;
    top: 52%;
    left: 15%;  
}

.plydeck {
    @extend .singlecardbox;
    top: 52%; right: 1%;
}

.plyeggs {
    height: 23vh;
    width: 15vw;
    bottom: 2%;
    left: 3%;
}

.plyeggsCount {
    height: 10vh;
    width: 10vh;
    bottom: 8%;
    left: 18%;
}

.plyhand {
    height: 23vh; width: 50vw;
    bottom: 2%;
    left:25%
}

.startdiv {
    bottom: 7%;
    left:45%;
    width: 10vw;
    height: 10vh;
}

/*---------General---------------- */

.glassdiv {
    gap: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(0,191,255, 0);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}

.padding10 {
    padding: 10px;
}

.rotate90 {
    transform: rotate(90deg);
}

@keyframes opacitypulse {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.opacityAnim {
    animation: opacitypulse 1s ease-in-out infinite alternate;
}


.textalign {
    text-align: center;
}

.aligncenter {
    align-items: center;
}

.marginauto {
    margin: auto;
}

.marginright {
    margin-right: 10px;
}

.margintop{
    margin-top: 10px;
}

.margin10 {
    margin: 10px;
}

.center {
    text-align: center;
}

.font5w {
    font-size: 5vw;
}

.height80 {
    height: 80%;
}

.height90 {
    height: 90%;
}

.width10vw {
    width: 10vw;
}

.height10vh {
    height: 10vh;
}


/* ---Board Background layout----*/


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url("images/wallpaper/jungle2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 63%;
    left: 11%;
    animation-duration: 5s;
    animation-delay: -31s;
    transform-origin: 4vw 20vh;
    /* box-shadow: -40vmin 0 5.747170975770808vmin currentColor;*/
    
}
.background span:nth-child(1) { /*abajo der*/
    color: #583C87;
    top: 80%;
    left: 60%;
    animation-duration: 30s;
    animation-delay: -30s;
    transform-origin: 30vw 10vh;
    /* box-shadow: 40vmin 0 5.182523851262426vmin currentColor;*/
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 68%;
    left: 7%;
    animation-duration: 30s;
    animation-delay: -38s;
    transform-origin: 17vw 13vh;
    /* box-shadow: -40vmin 0 5.357108138954445vmin currentColor;*/
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 15%;
    left: 53%;
    animation-duration: 40s;
    animation-delay: -29s;
    transform-origin: 3vw -24vh;
    /* box-shadow: -40vmin 0 5.069663597579216vmin currentColor;*/
}

