@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

.chewyfont {
    font-family: 'Chewy', cursive;
}

.pangolinfont {
    font-family: 'Pangolin', cursive;
}

.megrimfont {
    font-family: 'Megrim', cursive;
}

.frecklefont {
    font-family: 'Freckle Face', cursive;
}

.memoirsfont {
    font-family: 'Mouse Memoirs', sans-serif;
}

.nosiferfont {
    font-family: 'Nosifer', cursive;
}

.caesarfont {
    font-family: 'Caesar Dressing', cursive;
}

/*--------Layout Transition-------- */

.transition1 {
    position: absolute;
    z-index: 90;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    top:100;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
  }

.transition1 #teeth1 {
    position: relative;
    top: -200%;
    opacity: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120vh 12vw 0 0;
    border-color: black transparent transparent transparent;
  }

.transition1 div {
    
    position: relative;
    top: -200%;
    opacity: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120vh 12vw 0 12vw;
    border-color: black transparent transparent transparent;

}

.transition2 {
    position: absolute;
    z-index: 90;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    top:100;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.transition2 div {

    position: relative;
    bottom: -50%;
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12vw 120vh 12vw;
    border-color: transparent transparent black transparent;


}
/*-------------------*/

/* -------Play page transition*---------*/

.plytransition{
    position: absolute;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.plytransition div {
    width: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/* -----------------------------*/

/* Layout css*/

$navbar-color: #ebebeb;

.navbarcolor {
    color: $navbar-color;
}

.bannerdiv {
    display: flex; 
    flex-wrap: nowrap; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
}

a:visited, a:link, a:hover, a:active {
    color: honeydew;
    text-decoration: none;

}
  
.blackTransparent{
    background-color: rgba(0, 0, 0, .5);   
}

#suggestion:hover {
    color: blue;
}



.loginwidth {
    max-width: 600px; 
}

.profileimg {
    margin: 5px;
    border-radius: 50%;
    border: 2px solid wheat;
    min-height: 40px;
    max-height: 50px;
}

.bgrBlack {
    background-color: black;
    color: $navbar-color;
    position: relative;
}

.blackbg {
    background-color: black;
}

* {
	list-style-type: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
	display: flex;
	width: 100%;
	height: 10vh;
    min-height: 50px;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}
li {
	padding: 1rem 2rem 1.15rem;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    cursor: pointer;
    color: $navbar-color;
	min-width: 30px;
	margin: auto;
}

li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.bgrImage{
    background-image: url('images/wallpaper/wallpaper2.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.jctext {
    background: blue url('/static/frontend/images/icons/jctextbg.png'); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.loginIcon {
    max-height: 20px;
}

h6 {
    color: gold;
}

/* -----------Play page------------- */

.difficultypage {

    position: absolute;
    z-index: 90;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    background: url('images/wallpaper/wallpaper3.jpg') repeat 0 0 transparent;
    
}

.font10vh {
    font-size: 10vh;
}

.font5vh {
    font-size: 5vh;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px red, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px black, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.glow {
    animation: glow 1.5s ease-in-out infinite alternate;
  }

 /* ------cool button------- */
 @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    33% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
  
  .buttondifficulty {
    display: inline-flex;
    align-items: center;
    background: Crimson;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 45px;
    padding: 0 30px;
    color: #fff;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .3s, transform .3s, box-shadow .3s;
     will-change: transform;
    
    &:hover {
      background: darken(#C06C84,10%);
      box-shadow: 0 4px 17px rgba(0,0,0,0.2);
      transform: translate3d(0, -2px, 0);
      cursor: pointer;
    }
    &:active {
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
      transform: translate3d(0, 1px, 0);
    }
  }
  
  .pulse {
    position: relative;
    
    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,.4);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      opacity: 0;
      margin: auto;
    }
    &:before {
      animation: pulse 1.5s infinite linear;
    }
    &:after {
      animation: pulse 2s .4s infinite linear;
    }
    &:hover:before, &:hover:after {
      display: none;
    }
  }
  
 
 /*-----Play page----------- */

.maindiv {
    border: 5px solid transparent;
    border-image: url("images/wallpaper/leafborder.png") 30 round;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.border {
    border: 1px solid white;
}

.position {
    position: absolute;
}

.quitdiv{
    top: 1%;
    left: 1%;
}

.quitconfirmclass {
    @extend .position;
    @extend .blackTransparent;
    @extend .flexcontainer;
    flex-direction: column;
    border: 3px solid gold;
    border-radius: 5px;
    width: 13vw;
    height: 15vh;
    left: 1%;
    top: 8%;

}

.opphand {
    top: -17%;
    left: 35%;
    width: 30vw;
    height: 24vh;
}

.oppeggs {
    height: 18vh; width: 30vw;
    top: 7%;
    left: 35%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 50% 50% ;
    background-image: url("images/eggs/oppnest.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    /* */
}

/* ----opp eggs animation------*/

@keyframes eggsmovement {
    1% {
        transform: rotate(-15deg);
    }

    3% {
        transform: rotate(10deg);
    }

    5% {
        transform: rotate(-10deg);
    }

    7% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#opp_eggs div:nth-child(1) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(2) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(3) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(4) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(5) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(6) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}


#opp_eggs div:nth-child(7) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 3.2s;
    animation-iteration-count: infinite;
}


#opp_eggs div:nth-child(8) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 1.4s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(9) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
}

#opp_eggs div:nth-child(10) img {
    animation: eggsmovement;
    animation-duration: 7s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

/*------------------- */
/* Ply eggs animation*/

@keyframes plyeggsmovement {
    1% {
        transform: skewX(-5deg);
    }

    3% {
        transform: skewX(5deg); 
    }

    5% {
        transform: skewX(-7deg);  
    }

    7% {
        transform: skewX(0deg);  
    }

    100% {
        transform: rotate(0deg); 
    }
}

#ply_eggs img {
    animation: plyeggsmovement;
    animation-duration: 15s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
/*------------- */


/*--- Energy animation ----*/

@keyframes energymove {
    1% {
        transform: rotate(5deg);
    }

    2% {
        transform: rotate(5deg);
    }

    3% {
        transform: rotate(-5deg);
    }

    4% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.plyEnergy div:nth-child(1) img {
    animation: energymove;
    animation-duration: 7s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

.plyEnergy div:nth-child(2) img {
    animation: energymove;
    animation-duration: 7s;
    animation-delay: 5.3s;
    animation-iteration-count: infinite;
}

.oppEnergy div:nth-child(1) img {
    animation: energymove;
    animation-duration: 7s;
    animation-delay: 10.3s;
    animation-iteration-count: infinite;
}

.oppEnergy div:nth-child(2) img {
    animation: energymove;
    animation-duration: 7s;
    animation-delay: 17s;
    animation-iteration-count: infinite;
}

/* --------------------*/

.overhidden {
    overflow: hidden;
}

.rpsCard {
    background: linear-gradient(45deg, crimson, DarkSlateGray);
    box-shadow: 2px 3px antiquewhite;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    height: 20vh;
    transition: 100ms;
}

.rpsCard:hover {
    transform: scale(1.2);
}

.rpsCardOpp {
    height: 20vh;
    width: 20vh;
    padding: 5px;
    border-radius: 20px;
    background: antiquewhite;
}

.rpsImg {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(-90deg);

}

.rpsImgOpp {
    max-width: 100%;
    max-height: 100%;
    
}

.singlecardbox {
    height: 20vh;
    width: 8vw; 
}


@keyframes validTargetBorder {
    50% {
      box-shadow: 0 0 2vw blue;
    }
    
    100% {
      box-shadow: none;
    }
  }
  
.highlightTarget {
animation: validTargetBorder;
animation-duration: 1s;
animation-iteration-count: infinite;
}

@keyframes spendEnergy {
    50% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
}
  
.highlightEnergy {
animation: spendEnergy;
animation-duration: 0.8s;
animation-iteration-count: infinite;
}

@keyframes invalid1 {
    50% {
      box-shadow: 0 0 2vw red;
    }
    
    100% {
      box-shadow: none;
    }
}
  
.invalidBorder {
animation: invalid1;
animation-duration: 0.6s;
animation-iteration-count: infinite;
}


.flexcontainer{
    display: flex;
    justify-content: center; 
}

.fl_spacearound {
    justify-content: space-around;
}

.fl_column {
    flex-direction: column;
}

.ingameBoard {
    position: absolute;
    height: 45vh;
    width: 93vw;
    transform: perspective(100px) rotateX(1deg);
    top: 27%;
    left: 3%;
}

.wood1bg {
    background-color: saddlebrown;
    background-image: url("images/wallpaper/wood-pattern.png");
    border-bottom: 5px solid burlywood;

}

.forestbg {
    background-color: saddlebrown;
    background-image: url("images/wallpaper/forestbg.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 8px solid green;
    
} /* https://www.freevector.com/jungle-forest-background-vector--21826*/

.jcbg {
    background-color: saddlebrown;
    background-image: url("images/wallpaper/wallpaper1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.perspTop {
    -webkit-perspective: 200px;    
    -moz-perspective: 200px;
    -ms-perspective: 200px;
    -o-perspective: 200px;
    perspective: 200px;

    -webkit-perspective-origin: top;
    -moz-perspective-origin: top;
    -ms-perspective-origin: top;
    -o-perspective-origin: top;
    perspective-origin: top;  
}

.persp100 {
    perspective: 200px;
    perspective-origin: 200%;  
}

.persp_100 {
    perspective: 200px;
    perspective-origin: -200%; 
}

.transform10 {
    transform-style: preserve-3d;
    transform: rotateX(3deg);
}

.handorigin {
    transform-origin: center center;
}

.transformHand {
    transform: rotate(20deg);
}

.oppeventbox {
    top: 2%;
    left: 1%;
}

.oppboard {
    @extend .flexcontainer;
    height: 20vh; width: 70vw;
    top: 2%; left: 15%;
    align-items: center;
    
}

.oppdeck {
    @extend .singlecardbox;
    top: 2%; right: 1%;
}

.plyevent {
    @extend .singlecardbox;
    top: 52%; left: 1%;
}

.plyboard {
    @extend .flexcontainer;
    height: 20vh; width: 70vw;
    top: 52%;
    left: 15%; 
    align-items: center; 
}

.plydeck {
    @extend .singlecardbox;
    top: 52%; right: 1%;
}

.plyeggs {
    height: 23vh;
    width: 15vw;
    bottom: 2%;
    left: 3%;
}

.plyeggsCount {
    height: 10vh;
    width: 10vh;
    bottom: 8%;
    left: 18%;
}

.plyhand {
    height: 23vh; width: 30vw;
    bottom: 2%;
    left:35%
}

.startdiv {
    bottom: 7%;
    left:82%;
    width: 10vw;
    height: 10vh;
}

.plyEnergy {
    bottom: 3%;
    left:66%;
    width: 15vw;
    height: 15vh;
}

.oppEnergy {
    top: 3%;
    left:66%;
    width: 15vw;
    height: 15vh; 
}

.plyTurnPos {
    top: 28%;
    left: 26%;
}

.plyturnbg{
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    background-image: url("images/icons/backcardply.jpg");
    border: 5px solid gold;
    border-radius: 20px;
    position: absolute;
    height: 20vh;
    white-space: nowrap;
}

.oppturnPos {
    top: 28%;
    left: 26%;
}
    
.oppturnbg {
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    background-image: url("images/icons/backcardopp.jpg");
    border: 5px solid gold;
    border-radius: 20px;
    position: absolute;
    height: 20vh;
    white-space: nowrap;
}

.bothturndinoicon {
    @extend .flexallcenter;
    flex-wrap: nowrap;
    height: 50vh;
    width: 50vw;
    background-image: url("images/icons/oppturnbg.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}


.inputTurnply {
    display: none;
}

.inputTurnopp {
    display: none;
}

.inputsleepply {
    display: none;
}

.inputsleepopp {
    display: none;
}

.inputTake1dmgply{
    display: none;
}

.inputTake1dmgopp{
    display: none;
}

.inputGain1atkply{
    display: none;
}

.inputrestore1Lpply{
    display: none;
}

.inputGain1atkopp{
    display: none;
}

.inputrestore1Lpopp{
    display: none;
}

.energystyle {
    color: black;
}

.flip-turn {

    position: absolute;
    top: 3%;
    right: 1%;
    background-color: transparent;
    width: 15vw;
    height: 8vh;
    border: none;
    perspective: 1000px;
    
}
  
  
.flip-turn-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-turn.hover .flip-turn-inner {
transform: rotateY(180deg);
}


.flip-turn-front, .flip-turn-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}


.flip-turn-front {
background-color: green;
color: white;
border-radius: 10px;
box-shadow: 3px 3px red;
}


.flip-turn-back {
background-color: red;
color: white;
transform: rotateY(180deg);
border-radius: 10px;
box-shadow: 3px 3px antiquewhite
}

/*---------General---------------- */

.glassdiv {
    gap: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(0,191,255, 0);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
}

.padding10 {
    padding: 10px;
}

.rotate90 {
    transform: rotate(90deg);
}

@keyframes opacitypulse {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.opacityAnim {
    animation: opacitypulse 1s ease-in-out infinite alternate;
}


.textalign {
    text-align: center;
}

.aligncenter {
    align-items: center;
}

.marginauto {
    margin: auto;
}

.marginright {
    margin-right: 10px;
}

.margintop{
    margin-top: 10px;
}

.margin10 {
    margin: 10px;
}

.center {
    text-align: center;
}

.font1w {
    font-size: 1vw;
}

.font3w {
    font-size: 3vw;
}

.font5w {
    font-size: 5vw;
}

.height80 {
    height: 80%;
}

.height90 {
    height: 90%;
}

.width10vw {
    width: 10vw;
}

.width5vw {
    width: 5vw;
}

.width10 {
    width: 10%;
}

.height10vh {
    height: 10vh;
}

.centerTop {
    top: 40%;  
}

.noEvents {
    pointer-events: none;
}

.radius10 {
    border-radius: 10px;
}


/* ---Board Background layout----*/


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url("images/wallpaper/jungle2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 63%;
    left: 11%;
    animation-duration: 5s;
    animation-delay: -31s;
    transform-origin: 4vw 20vh;
    /* box-shadow: -40vmin 0 5.747170975770808vmin currentColor;*/
    
}
.background span:nth-child(1) { /*abajo der*/
    color: #583C87;
    top: 80%;
    left: 60%;
    animation-duration: 30s;
    animation-delay: -30s;
    transform-origin: 30vw 10vh;
    /* box-shadow: 40vmin 0 5.182523851262426vmin currentColor;*/
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 68%;
    left: 7%;
    animation-duration: 30s;
    animation-delay: -38s;
    transform-origin: 17vw 13vh;
    /* box-shadow: -40vmin 0 5.357108138954445vmin currentColor;*/
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 15%;
    left: 53%;
    animation-duration: 40s;
    animation-delay: -29s;
    transform-origin: 3vw -24vh;
    /* box-shadow: -40vmin 0 5.069663597579216vmin currentColor;*/
}

/* Cards styles*/

#opp_event {
    border: 3px solid wheat;
    border-style: dashed;
    background-image: url("images/cardsbg/evbg.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

#ply_event{
    @extend #opp_event;

}

.cardplayedPly{
    @extend .transform10;
    flex: 0 0 50px;
    height: 20vh;
    min-height: 21vh;
    margin: 5px; 
    width: 7vw;
    min-width: 7vw; 
    border-radius: 5px;
    border: 2px solid gold;
    transition: transform .25s;
    
}

.cardplayedplyEvent{
    @extend .border;
    @extend .cardplayedDeck;
    @extend .transform10;
    @extend .navbarcolor;
    @extend .blackbg;
    @extend .font1w;
}

.cardplayeoppEvent{
    @extend .border;
    @extend .cardplayedDeck;
    @extend .transform10;
    @extend .navbarcolor;
    @extend .blackbg;
    @extend .font1w; 
}

.cardplayedOpp {
   @extend .cardplayedPly;
}

.cardplayedDeck {
    height: 18vh; 
    width: 6.5vw; 
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px #888888;
    border: 1px solid gold;
}

.borderDeck{
    @extend .flexallcenter;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-image: linear-gradient(white, gold);
}

.borderDeckSimulate {
    position: absolute;
    @extend .flexallcenter;
    border-radius: 5px;
    background-image: linear-gradient(white, gold);
    width: 7vw;
    height: 20vh;
}

.interiorDeck{
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 95%;
    width: 90%;
    position: absolute;
    border-radius: 5px;
}

.interiorDeckOpp{
    background-image: url("images/icons/backcardopp.jpg");

}

.interiorDeckPly{
    background-image: url("images/icons/backcardply.jpg");

}

.dinoIconCard{
    @extend .flexallcenter;
    position: absolute;
    top: 20%;
    left: 2%;
    width: 95%;
    height: 40%;
    border-radius: 50%;
    border: 1px solid white;
    background: gold;
    
}

.jclogotext{
    @extend .flexallcenter;
    @extend .caesarfont;
    color: antiquewhite;
    position: absolute;
    top: 70%;
    left: 2%;
    width: 95%;
    height: 15%;
    font-size: x-small;
    overflow: hidden; 
}


.flexallcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardinHand {
    flex: 0 0 50px;
    height: 22vh;
    min-height: 22vh; 
    width: 7vw;
    min-width: 7vw; 
    border-radius: 5px;
    border: 2px solid gold;
    /*overflow: hidden;*/
    transition: transform .25s;
}

.cardinhandOpp {
    flex: 0 0 50px;
    height: 22vh;
    min-height: 22vh; 
    width: 7vw;
    min-width: 7vw; 
    border-radius: 5px;
    border: 5px solid gold;
    transition: transform .25s;  
}

.interiorhandOpp {
    background-image: url("images/icons/backcardopp.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 86%;
    width: 90%;
    position: absolute;
    border-radius: 5px;
}

.interiorcardca{
    background-image: url("images/cardsbg/cabg.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

.interiorcardhe{
    background-image: url("images/cardsbg/hebg.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

.interiorcardaq{
    background-image: url("images/cardsbg/aqbg.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

.interiorcardfl{
    background-image: url("images/cardsbg/flbg.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

.interiorcardev{
    background-image: url("images/cardsbg/evbg.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
}

.attackTag{
    position: absolute;
    top: 3%;
    left: 2%;
    background-image: linear-gradient(MediumSlateBlue, MidnightBlue);
    color: antiquewhite;
    border: 1px solid gold;
    width: 20%;
    height: 10%;
    border-radius: 0 50% 50% 50%;   
}

.costTag {
    position: absolute;
    top: 3%;
    left: 28%;
    height: 10%;
    width: 40%;
}

.energyTag{
    height: 100%;
    width: 40%;
    background-image: url("images/icons/energycard.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.lifepointsTag {
    position: absolute;
    top: 3%;
    right: 2%;
    background-image: linear-gradient(Crimson, Maroon);
    color: antiquewhite;
    border-radius: 50% 0% 50% 50%;
    border: 1px solid gold;
    width: 20%;
    height: 10%;
}

.namediv{
    white-space: nowrap;
    position: absolute;
    width: 95%;
    height: 8%;
    top: 15%;
    left: 1.5%;
    border: 2px solid silver;
    border-radius: 10px;
    color: black;
    font-style: bold;
    font-size: small;
    font-family: 'Pangolin';
}

.namedivex{
    background-image: linear-gradient(GoldenRod, Gold);
}

.namedivsc{
    background-image: linear-gradient(SkyBlue, DodgerBlue);
}
.namedivco{
    background-image: linear-gradient(Silver, White);
}

.dinopicDiv{
    position: absolute;
    border: 3px solid wheat;
    border-style: ridge;
    border-radius: 2px;
    background: gray;
    width: 90%;
    height: 40%;
    top: 26%;
    left: 4%;
}



.height100{
    height: 100%;
}
.width100{
    width: 100%;
}

.conditionTag{
    position: absolute;
    width: 95%;
    height: 7%;
    top: 70%;
    left: 1.5%;
    border: 2px solid silver;
    border-radius: 10px;
    background-image: url("images/icons/conditiontag.jpeg");
    color: black;
    font-style: italic;
    font-size: x-small; 
    
}

.conditionTagEv{
    position: absolute;
    width: 95%;
    height: 25%;
    top: 70%;
    left: 1.5%;
    border: 2px solid silver;
    border-radius: 10px;
    background-image: url("images/icons/conditiontag.jpeg");
    color: black;
    font-size: xx-small;
    text-align: justify;
    padding: 2px;
    line-height: 80%;
}

.sizeTag{
    position: absolute;
    width: 30%;
    height: 15%;
    left: 35%;
    bottom: 3%;
    border-radius: 100%;
    border: 1px solid gold;
    background-color: white;
    font-size: small;
}

.clipsize {
    clip-path: circle(50% at 50% 50%);
}

.cardWrapper {
    overflow: hidden;
}
  
.cardWrapper:last-child, .cardWrapper:hover {
    overflow: visible;
}

.cardWrapperOpp {/*same as previous one, but necessary for sortcards function*/
    overflow: hidden;  
}

.cardWrapperOpp:last-child {
    overflow: visible;
}

@keyframes zzanim {
    
    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.sleepanimation {

    animation: zzanim 2.5s infinite linear;
    background-image: url("images/icons/zzz.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 3vw;
    width: 3vw;

}

.readyanimation {
    animation: zzanim 2.5s infinite linear;
    background-image: url("images/icons/swords.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: 3vw;
    width: 3vw; 
}

.attackbgIcon {
    @extend .caesarfont;
    @extend .font10vh;
    background-image: url("images/icons/attackbgicon.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 20vh;
    height: 20vh;
    color: white;
    -webkit-text-stroke: 2px red;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.restorebgIcon {
    @extend .caesarfont;
    @extend .font10vh;
    background-image: url("images/icons/restore.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 15vh;
    height: 15vh;
    color: black;
    -webkit-text-stroke: 2px white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.gainattackIcon {
    @extend .caesarfont;
    @extend .font10vh;
    background-image: url("images/icons/swords.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 15vh;
    height: 15vh;
    color: blue;
    -webkit-text-stroke: 2px white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.gethitIcon {
    
    background-image: url("images/icons/hit.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 15vh;
    height: 15vh;
    
}


/* Rain effect (credit: https://www.youtube.com/channel/UCbwXnUipZsLfUckBPsC7Jog)*/

.rain {
    height: 100vh;
    background: url("images/wallpaper/rain.png");
    animation: rainAnim .2s linear infinite;
    animation-direction: reverse;
}

.rain::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    animation: lightning 20s linear infinite;
    opacity: 0;

}

@keyframes rainAnim{
    0%{
        background-position: 0% 0%;
    }
    0%{
        background-position: 20% 100%; 
    }
}

@keyframes lightning{
    0%{
        opacity: 0;
    }

    1%{
        opacity: 0.5;
    }
    2%{
        opacity: 1;
    }

    5%{
        opacity: 0;
    }

    10%{
        opacity: 1
    }

    15% {
        opacity: 0.5;
    }

    16% {
        opacity: 0;
    }
    
}

@keyframes moveballoon {
    10% {
        transform: translateX(50%);
        transform: translateY(30%);

    }
    80% {
        transform: translateX(-50%);
        transform: translateY(-40%);
    }
}

.animballoon {
    position: absolute;
    animation: moveballoon;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.balloon1 {
    @extend .animballoon;
    left: 3%;
    top: 20%;
    animation-delay: 2s;
}

.balloon2 {
   @extend .animballoon;
   right: 5%;
   bottom: 6%;
   animation-delay: 3s;
}

.confetti1 {
    @extend .animballoon;
    right: 5%;
    top: 6%;
    animation-delay: 3.5s; 
}

.confetti2{
    @extend .animballoon;
    left: 5%;
    bottom: 6%;
    animation-delay: 4s; 
}

.confetti3{
    @extend .animballoon;
    left: 20%;
    top: 3%;
    animation-delay: 1s; 
}

.confetti4{
    @extend .animballoon;
    left: 37%;
    top: 3%;
    animation-delay: 2.2s; 
}

.confetti5{
    @extend .animballoon;
    left: 57%;
    top: 3%;
    animation-delay: 1.5s; 
}

.confetti6{
    @extend .animballoon;
    left: 79%;
    top: 3%;
    animation-delay: 2.8s; 
}

.youwinbg {
    position: absolute;
    z-index: 80;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.youwinimg {
    background-image: url("images/wallpaper/youwinbg.jpg");
}

.winlosemessage {
    position: absolute;
    top: 15%;
    left: 35%;
    margin: 15px;
    width: 30vw;
}

.winloseresults {
    position: absolute;
    top: 35%;
    left: 30%;
    margin: 10px;
    border: 3px solid gold;
    border-radius: 10px;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-image: url("images/wallpaper/jungle2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.youlosebg {
    @extend .youwinbg;
    background-image: url("images/wallpaper/youlosebg.jpg");
    
}

.exitbutton {
    width: 15vh;
    height: 8vh;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 10px;
    box-shadow: 3px 3px red;
    margin: 10px;
}

.eventSpot {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 17vw;
    height: 20vh;
    border: 5px solid black;
    border-radius: 10px;
}

/*------ Shop page--------*/

.boosterpack{
    height: 50vh;
    cursor: pointer;
    transition: all .2s ease-in-out;

}

.boosterpack:hover{
    transform: scaleX(1.1);
    transform: scaleY(1.1);
}

.buyPackdiv{
    left: 35%;
    top: 25%;
    width: 30%;
    padding: 10px;
}

.boosterDemo {
    @extend .boosterpack;
}

#buyButton {
    width: 13vw;
    height: 11vh;
    background-color: green;
    color: white;
    border-radius: 10px;
    box-shadow: 3px 3px red;
    cursor: pointer;
}

#closeNotMoney {
    @extend #buyButton;
}

#showNewCards {
    height: 60vh; width: 80vw;
    left: 10%;
    top: 30%;
}

.displayCardContainer {
    position: absolute;
    flex: 0 0 50px;
    height: 35vh;
    min-height: 35vh;
    max-height: 35vh; 
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw; 
    border-radius: 5px;
    border: 2px solid gold;
    transition: transform .25s;
}

.containerwrapper {
    @extend .flexallcenter;
    position: absolute;
    height: 36vh;
    min-height: 36vh;
    max-height: 36vh; 
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw; 
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#closePurchase {
    @extend #buyButton;
}

.conditionTagEvDisplay{
    position: absolute;
    width: 95%;
    height: 25%;
    top: 70%;
    left: 1.5%;
    border: 2px solid silver;
    border-radius: 10px;
    background-image: url("images/icons/conditiontag.jpeg");
    color: black;
    font-size: xx-small;
    text-align: center;
    padding: 2px;
    white-space: pre-line;
}

@keyframes glowco {
    50% {
      box-shadow: 0 0 4vw darkgray;
    }
    
    100% {
      box-shadow: none;
    }
}

@keyframes glowsc {
    50% {
      box-shadow: 0 0 4vw blue;
    }
    
    100% {
      box-shadow: none;
    }
}

@keyframes glowex {
    50% {
      box-shadow: 0 0 4vw gold;
    }
    
    100% {
      box-shadow: none;
    }
}
  
.displayRarityco {
    animation: glowco;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.displayRaritysc {
    animation: glowsc;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.displayRarityex {
    animation: glowex;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.flip-card-main {
    background-color: transparent;
    height: 36vh;
    min-height: 36vh;
    max-height: 36vh; 
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw; 
    border: none;
    perspective: 1000px;
    cursor: pointer;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front {
    @extend .borderDeck;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    position: absolute;
}

.flip-card-main.turnBack .flip-card-inner {
    transform: rotateY(180deg);
}

/* 
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    
}*/












